/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/ca/ca.mo
/ca/ca.stamp
/ca/index.docbook
/ca/legal.xml
/cs/cs.mo
/cs/cs.stamp
/cs/index.docbook
/cs/legal.xml
/da/da.mo
/da/da.stamp
/da/index.docbook
/da/legal.xml
/de/de.mo
/de/de.stamp
/de/index.docbook
/de/legal.xml
/el/el.mo
/el/el.stamp
/el/index.docbook
/el/legal.xml
/en_GB/en_GB.mo
/en_GB/en_GB.stamp
/en_GB/index.docbook
/en_GB/legal.xml
/es/es.mo
/es/es.stamp
/es/index.docbook
/es/legal.xml
/eu/eu.mo
/eu/eu.stamp
/eu/index.docbook
/eu/legal.xml
/fr/fr.mo
/fr/fr.stamp
/fr/index.docbook
/fr/legal.xml
/it/index.docbook
/it/it.mo
/it/it.stamp
/it/legal.xml
/oc/index.docbook
/oc/legal.xml
/oc/oc.mo
/oc/oc.stamp
/sl/index.docbook
/sl/legal.xml
/sl/sl.mo
/sl/sl.stamp
/so_locations
/sr/index.docbook
/sr/legal.xml
/sr/sr.mo
/sr/sr.stamp
/sr@latin/index.docbook
/sr@latin/legal.xml
/sr@latin/sr@latin.mo
/sr@latin/sr@latin.stamp
/sv/index.docbook
/sv/legal.xml
/sv/sv.mo
/sv/sv.stamp
/tags
/zh_CN/index.docbook
/zh_CN/legal.xml
/zh_CN/zh_CN.mo
/zh_CN/zh_CN.stamp
