/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/gnotski.desktop
/gnotski.desktop.in
/org.gnome.klotski.gschema.valid
/org.gnome.klotski.gschema.xml
/so_locations
/tags
