/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/gnome-klotski
/gnome-klotski.c
/gnome_klotski_vala.stamp
/history.c
/puzzle-view.c
/puzzle.c
/so_locations
/tags
